<h1>Editing your Comment</h1>

<div class="container">
  <%= render "edit_comment_form" %>
</div>

<%= link_to 'Back', @blog_post %>
<%= link_to 'Home', blog_posts_path %>
<br>
<br>
<footer>
  <center><p>&copy 2016 JustBuiltIT Blog</p></center>
</footer>
