/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.jumbotron {
  margin-top: -61px;
  background-image: url("https://images.unsplash.com/photo-1438932150719-500cc59a04cd?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1300");
}

.jumbotron h1 {
  color: white;
  margin-left: 12px;
}

.jumbotron p {
  color: white;
  margin-left: 12px;
}

@import "bootstrap-sprockets";


@import "bootswatch/cerulean/variables";


@import "bootstrap";


body { 
  padding-top: 60px; 
  background-color: #80BDD1;
}


@import "bootswatch/cerulean/bootswatch";


@import "base";



